.user-login-form {
  .form-item {
    margin-bottom: 15px;
  }
  input {
    display: block;
    height: 30px;
    border: solid 1px $black;
  }

  .description {
    font-size: 14px;
  }

  .form-submit {
    height: 30px;
    padding: 0 30px;
    background: $white;
  }
}
