* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 100px;
  background: $white;
  font-family: $body-font-family;
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
  font-size: inherit;
}
